body {
  background-color: lightgrey;
  /*background-image: url('/img/temp-bg.jpeg');
  background: contain;*/
}


    button {
        margin-bottom: 20px;
        padding: 5px 10px;
    }
    .slide-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .slide-list > li {
        display: inline;
    }
    .slide-list > li:hover {
        cursor: pointer;
    }
    .slide-list > li > img {
        width: 100px;
        height: 100px;
    }

    header {
        padding-top: 15px;
        margin-bottom: 60px;
        background-color: rgba(0,0,0,0.6);
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase   ;
        font-weight: 100;
        color: black;
    }
