.events {
  padding-top: 90px;
  text-align: center;
  padding-bottom: 50px;

  h1 {
    font-family: 'Josefin Sans', sans-serif;

  }

  p {
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }

  .event-card {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 20vw;
    width: 60vw;
    padding: 1em;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.6);

    .event-img {
      margin-bottom: 1em;
      width: 100%;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }


}
