.home {
  padding-top: 90px;

  p {
    color: lightgrey;
    font-family: 'Rubik', sans-serif;
    font-size: 5vh;
    text-align: center;
    padding-top: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 25vh;
    background: radial-gradient(closest-side, rgba(0, 83, 80, 0.5), transparent);
  }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('./img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
