.gallery{
  padding-top: 90px;
  text-align: center;
  h1 {
    font-family: 'Josefin Sans', sans-serif;
  }
  p {
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }
}

.masonry-brick {
  transform: matrix(0,0,0,0,0,0);
  opacity: 0;
}
