.writings {
  // margin-top: 90px;
  padding-top: 90px;
  text-align: center;
  h1 {
    font-family: 'Josefin Sans', sans-serif;
  }
  p {
    font-family: 'Rubik', sans-serif;
    text-align: left;

  }
}
