

body {
    background-color: lightgrey;
    background-image: url('../img/paper-bg.jpeg');
    background: contain;
    background-attachment: fixed;
    background-size: cover;

    header {
        padding: 15px;
        background-color: rgba(42,42,42,1);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 999;
        width: 100vw;

        nav ul {

          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 18px;
          text-transform: uppercase;
          // font-weight: 100;
          color: rgb(125, 36, 207);

          li {
            font-family: 'Josefin Sans', sans-serif;

            .logo {
              font-family: 'Montserrat Alternates', sans-serif;
              font-size: 50px;
            }

            a {
              position: relative;
              text-decoration: none;
              color: inherit;
            }

            a:hover {
              color: inherit;
            }

            a:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: teal;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }

            a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
    }

    footer {
      padding: 15px;
      background-color: rgba(42,42,42,1);
      box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
      position: fixed;
      left:0px;
      bottom:0px;
      z-index: 999;
      width: 100vw;

      nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 50;
        color: rgb(83,25,136);

        li {
          font-family: 'Josefin Sans', sans-serif;
          // padding-left: 200px;
          // padding-right: 200px;

          a {
            position: relative;
            text-decoration: none;
            color: inherit;
          }

          a:hover {
            color: inherit;
          }

          a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: teal;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }

          a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }

        }
      }
    }
}
